body{
    background-color: blueviolet;
    color: white;
}

#servicios {
    background-color: lightgray;
    color: black;
    border: 2px solid black ;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}